@use 'src/styles/vars';
/* ----------------------------------------------------- */
/* ------------- SPELL DETAILS COMPONENT --------------- */
/* ------------------- Main block ---------------------- */
/* ----------------------------------------------------- */
.spellDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  word-break: break-word;
  /* --------------------------------------------------- */
  /* --- Description block, definition & guillemets ---- */
  /* --------------------------------------------------- */
  &__description {
    margin-bottom: vars.$gutter * 2;
    @media screen and (min-width: 600px) {
      margin-bottom: vars.$gutter * 6;
    }
  }
  /* --------------------------------------------------- */
  /* ----------------- Guillemets only ----------------- */
  /* --------------------------------------------------- */
  &__description span{
    color: black;
    text-align: left;
    font-size: 1.5rem;
    font-family: vars.$alt-font;
    @media screen and (min-width: 600px) {
      font-size: 3rem;
    }
  }
}

