@use 'src/styles/vars';

/* ----------------------------------------------------- */
/* ----------------- HOME COMPONENT -------------------- */
/* ------------------- Main block ---------------------- */
/* ----------------------------------------------------- */
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
}