@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=DM+Serif+Display&display=swap');

/* ------------- FONTS --------------- */

$main-font : font-family 'Lora', serif;
$alt-font : font-family 'DM Serif Display', serif;

/* ------------ COLORS --------------- */

$color-yellow: #FBC508;
$color-red: #6D0A26;

/* ------------ GUTTER --------------- */

$gutter: 1rem;