@use 'src/styles/vars';

/* ----------------------------------------------------- */
/* ----------------- LOGO COMPONENT -------------------- */
/* ------------------- Main block ---------------------- */
/* ----------------------------------------------------- */
.logo{
  width: 90%;
  @media screen and (min-width: 950px) {
    width: 850px;
    margin: 0 auto vars.$gutter;
  }
}